@import "tailwindcss";

/* 🔹 Define raw CSS variables */
:root {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-teal: #4F7C82;     /* teal */
  --color-tealzero: #93B1B5; /* lighter teal */
  --color-darkteal: #0B2E33; /* dark teal */
  --color-darkblue: #000B18; /* dark blue */
  --color-lighterblue: #00172D;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);

  --color-teal: var(--color-teal);
  --color-tealzero: var(--color-tealzero);
  --color-darkteal: var(--color-darkteal);
  --color-darkblue: var(--color-darkblue);
  --color-lighterblue: var(--color-lighterblue);
}

